node_modules/
dist/
build/
coverage/
.next/
out/
.turbo/
*.log
.env
.env.*
!.env.example
target/
.cdk.staging/
cdk.out/
*.js.map
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
packages/cdk/assets/lambda/**
!packages/cdk/assets/lambda/.gitkeep
*.tsbuildinfo
.pnpm-store/
load-test-report.json
