# CODEOWNERS

*                         @vazue/core-team
/packages/core-rust/      @vazue/backend
/packages/cdk/            @vazue/infra
/packages/sdk-typescript/ @vazue/sdk
/packages/create-vazue-queue/ @vazue/infra
/apps/                    @vazue/frontend
/openapi/                 @vazue/backend @vazue/sdk
/.github/                 @vazue/infra
